<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Dashboard</title>
		<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="/stylesheet/style.css" media="screen" />

	</head>

	<body class = "container">
    <div>
        <div class="row">
          <div class="text-center col-md-12 ">
            <!-- <h3 class="text-center col-md-6">Ubicaciones</h3> -->
            <div class="col-md-6">
              <label class="etiqueta" for="">Ubicaciones</label>
              <a href="/ubicaciones">
                <img class="" src="/images/edit220.png" alt="edit">
              </a>
            </div>
            <br>
            <br>
            <div class="col-md-6">
              <label class="etiqueta" for="">Estadísticas de Usuario</label>
              <a href="/estadisticas">
                <img class="" src="/images/users220.png" alt="users">
              </a>
            </div>
          </div>
        </div>

    </div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  <!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
	</body>

</html>
