<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Proyecto</title>
		<!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="/stylesheet/style.css" media="screen" />

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="../jquery.min.js"></script>

		<script src="../saveLocation.js"></script>

	</head>

	<body class = "container">
		<div align="rigth">
			<button type="button" class="btn btn-default btn-sm" onclick="history.back()">
					<span class="glyphicon glyphicon-arrow-left"></span> Left
				</button>
		</div>
		<h2>Modificar ubicación</h2>
		<form class="" action="" method="post" id="form-edit">
			<div class="row">
				<div class="col-md-6">
					<label class="">Número</label>
					<input type="String" class="form-control" name="numero" value="<%= location[0].numero %>" readonly>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label class="">Lugar</label>
					<input type="String" class="form-control" name="lugar" value="<%= location[0].lugar %>" required>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label class="">Longitud</label>
					<input type="String" class="form-control" name="longitud" value="<%= location[0].longitud %>">
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<label for="">Latitud</label>
					<input type="String" class="form-control" name="latitud" value="<%= location[0].latitud %>">
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<label for="">Pista</label>
					<input type="String" class=" form-control" name="pista" value="<%= location[0].pista %>">
				</div>
			</div>
			<div class="">
				<br>
				<button type="submit" class="btn btn-default" name="button" id="save">Guardar</button>
			</div>
		</form>

	  <!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../js/bootstrap.min.js"></script>
	</body>
</html>
