<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Proyecto</title>
		<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="/stylesheet/style.css" media="screen" />

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="jquery.min.js"></script>

	</head>

	<body class = "container">
    <h2>Ubicaciones</h2>
    <h3>Tabla con todas las ubicaciones</h3>
		<table class="table table-hover" id="boton">
			<thead>
				<tr>
					<th>Número</th>
					<th>Latitud</th>
					<th>Longitud</th>
					<th>Pista</th>
					<th>Preguntas</th>
					<th>Editar</th>
				</tr>
			</thead>
			<tbody>
				<% ubicaciones.forEach(function(ubicacion) { %>
				<tr>
						<th><%= ubicacion.numero %></th>
						<th><%= ubicacion.latitud %></th>
	    			<th><%= ubicacion.longitud %></th>
						<th><%= ubicacion.pista %></th>
						<th>
							<form class="" action="" method="post">
								<button type="submit" class="btn btn-default" onclick="ver(<%= ubicacion.numero %>)">
									<span class="glyphicon glyphicon-eye-open"></span>
								</button>
							</form>

						</th>
						<th>
							<a href="http://192.168.1.137:8000/editLocation/?num=<%= ubicacion.numero %>">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
						</th>
				</tr>
				<% }); %>
			</tbody>
			</table>

	  <!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
