<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Proyecto</title>
		<!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="/stylesheet/style.css" media="screen" />

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="jquery.min.js"></script>

		<script src="questions.js"></script>

	</head>

	<body class = "container">
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="col-md-6">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				Usuario: <%= name %>
			</div>
			<div class="col-md-6">
				<a href="/logout">
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Cerrar sesión
					</button>
				</a>
			</div>
		</div>
		<div align="rigth">
  		<!-- <input class="btn btn-default" value="VOLVER ATRÁS" name="Back2" onclick="history.back()" /> -->
			<button type="button" class="btn btn-default btn-sm" onclick="history.back()">
          <span class="glyphicon glyphicon-arrow-left"></span> Left
        </button>
  	</div>
    <h2>Preguntas</h2>
    <h3>Preguntas de la ubicación <%= num %>: <%= place %> </h3>
    <div class="text-right" >
      <a href="http://localhost:8000/createQuestion/?numL=<%= num %>">
        <button type="button" class="btn btn-default boton-pregunta">
          <span class="glyphicon glyphicon-plus icon"></span> Nueva pregunta
        </button>
      </a>
    </div>
		<table class="table table-hover table-condensed" id="boton">
			<thead>
				<tr>
					<th>Nº</th>
					<th>Pregunta</th>
					<th>Resp. 1</th>
					<th>Resp. 2</th>
					<th>Resp. 3</th>
					<th>Resp. 4</th>
					<th>Resp. Correcta</th>
          <th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
        <% questions.forEach(function(question) { %>
				<tr>
						<th><%= question.numLocation.numQuest %></th>
						<th><%= question.question %></th>
						<th><%= question.answer1 %></th>
            <th><%= question.answer2 %></th>
            <th><%= question.answer3 %></th>
            <th><%= question.answer4 %></th>
	    			<th><%= question.correctAnswer %></th>
            <th class="text-center">
							<a href="http://localhost:8000/editQuestion/?numL=<%= question.numLocation.numLoc %>&numQ=<%= question.numLocation.numQuest %>">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
						</th>
						<th class="text-center">
							<a href="http://localhost:8000/deleteQuestion/?numL=<%= question.numLocation.numLoc %>&numQ=<%= question.numLocation.numQuest %>">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</th>
				</tr>
				<% }); %>
			</tbody>
			</table>

	  <!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
